@import './overrides.scss';
@import '~bootstrap/scss/bootstrap';

html {
  scroll-behavior: smooth;
}

input:focus,
textarea:focus,
button:focus {
  border-color: #deae47 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #deae47 !important;
}

.btn {
  border-color: #deae47 !important;
  color: white !important;
}

.btn:focus,
.btn:active,
.btn:hover {
  background-color: #deae47 !important;
}

.btn-primary,
.btn-outline-primary.active {
  background-color: #deae47 !important;
}
