.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-image {
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: "cover";
}

div {
  text-align: center;
}

h2 {
  padding-bottom: 6px;
}

h6 {
  padding-bottom: 24px;
}
