body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.form-control::-webkit-input-placeholder {
  color: white;
} /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: white;
} /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: white;
} /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: white;
} /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: white;
} /* Microsoft Edge */

.dropdown-menu {
  background: transparent;
  border-color: white;
  min-width: 0;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background: transparent;
  color: lightgray;
}

a {
  color: white;
}

a:hover {
  color: lightgray;
  text-decoration: none;
}
